@page {
  size: A4;
  margin: 0;
}

body {
  margin: 0;
  font-size: 12px;
  line-height: 1.6;
  background-color: #ffffff;
  font-family: "YourCustomFont", Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  /* Adjustments for small screens */
  .container {
    width: 550px;
    padding: 10px;
  }
}
.title {
  margin-top: -5px;
  text-align: center;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
}

.slip-border {
  border: 3px solid black;
  border-radius: 30px;
  padding: 30px 10px;
}

.slip-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row {
  display: flex;
  width: 100%;
}

.form-col {
  display: flex;
  width: 100%;
}

.form-title {
  font-weight: bold;
  margin-left: 10px;
  align-self: center;
}

.form-value {
  flex-grow: 1;
  text-align: right;
  border: none;
  font-weight: 500;
  border-bottom: 2px solid black;
  width: 0px;
}

.button {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  min-width: 120px;
}

.buttonprint {
  background-color: white;
  color: black;
  border: 2px solid #04aa6d;
}
.buttonprint:hover {
  background-color: #04aa6d;
  color: white;
}

@media print {
  #hide_button {
    display: none;
  }
  #input-text {
    display: none;
  }
  #img {
    display: none !important;
  }
}
